.header-nav-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.background-container {
    background-image: url(../images/h.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 100vw 0 0 0 rgb(0 0 0 / 0.5) inset;
}

#logo {
    color: #f7f7f7;
}

a {
    color: #f7f7f7;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 93px 0 0 98px;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text p {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.header-btns {
    background-color: #3658C1;
    color: #f7f7f7;
    border: 3px solid transparent;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.header-btns:hover {
    color: #3658C1;
    border: 3px solid #3658C1;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: 0.3s;
}

#cta-button {
    width: 250px;
}

main {
    padding: 0 42px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #a9a398;
    /* background-color: #FFFDE7; */
    margin: 0 auto;
    border-radius: 50px 50px 50px 50px;
    transform: translateY(-100px);
}

.schedule-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schedule-section h1,
.team-container h1 {
    color: #2C2C2C;
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
}

.schedule-days {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#day1,
#day2 {
    font-size: xx-large;
}

#day1:hover,
#day2:hover {
    color: #3658C1;
    box-shadow: inset 0 -2px 0 0 #3658C1;
    cursor: pointer;
    transition: 0.3s;
}

.schedule-cards-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.schedule-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border: 1px #2C2C2C solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    color: #222222;
    width: 800px;
    height: 200px;
    border-radius: 20px;
}

.card h3 {
    font-weight: 900;
}

.schedule-card img {
    border-radius: 50%;
    width: 150px;
}

.card-info {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.card-info-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info p {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organizer-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.staff-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.staff-container> :nth-last-child(-n+2) {
    padding-left: 30rem;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
}

.staff-card {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.card-image {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-image:hover img {
    opacity: 0.4;
    transition: .5s;
}

.staff-card:hover .card-image {
    transform: translateY(-100px);
    transition: all .9s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ccc;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
}

h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}


.faqs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.accordions-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.accordion {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.accordion-btn {
    color: #2C2C2C;
    background-color: #a9a398;
    width: 100%;
    padding: 20px 20px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    outline: 1px solid #2C2C2C;
    border-radius: 20px;
}

.activated-panel,
.accordion-btn:hover {
    background-color: #afada9;
    cursor: pointer;
}

.panel {
    padding: 0 18px;
    color: #2C2C2C;
    width: 100%;
    font-size: large;
    font-weight: bold;
    align-self: left;
    display: none;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.main-footer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2px;
}

.footer-nav {
    flex: 0 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
}

.footer-link:hover {
    color: #3658C1;
    cursor: pointer;
}

.home-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: 2rem;
    align-items: flex-start;
    border: 1px #2C2C2C solid;
    margin-bottom: 1rem;
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.secondary-footer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    header {
        margin: 0 auto;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0.5rem;
        width: 100%;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text p {
        font-size: 14px;
    }

    #cta-button {
        align-self: center;
    }

    main {
        padding: 0 42px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        background-color: #a9a398;
        /* background-color: #FFFDE7; */
        margin: 0 auto;
        border-radius: 50px 50px 50px 50px;
        transform: translateY(-100px);
    }

    .schedule-section h1,
    .team-container h1 {
        font-size: x-large;
    }
    .schedule-days {
        padding: 0;
    }
    
    #day1,
    #day2 {
        font-size: x-large;
    }

    .organizer-container {
        flex-direction: column;
        gap: 1rem;
    }

    .staff-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .staff-container> :nth-last-child(-n+2) {
        padding-left: 0;
    }
}