* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form-container {
    display: flex;
    background-color: #f7f7f7;
    box-shadow: 0px 20px 15px #071233;
    border-radius: 1rem;
}

.rightside {
    width: 50%;
    text-align: center;
    align-items: center;
}

.rightside img {
    width: 80%;
    height: 100%;
}

.leftside {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    height: 100%;
}

.leftside h2 {
    line-height: 50px;
}

.logo-span {
    color: #3658C1;
    font-size: 50px;
    padding-top: 100px;
}

.inputbox {
    width: 100%;
    margin-top: 25px;
    height: 50px;
    padding: 0px 10px;
    background-color: #dedde4;
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    background: transparent;
    border: none;
    outline: none;
    line-height: 30px;
    font-size: 15px;
    flex: 1;
}

ion-icon {
    font-size: 20px;
}

#login-button{
    margin-top: 1rem;
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 767px){
    .leftside{
        width: 100%;
        text-align: center;
    }
    .rightside{
        display: none;
    }
}