body {
    display: flex;
    flex-direction: column;
    background-color: #AFC1D0
}

header {
    width: 100%;
    max-width: 1440px;
}

main {
    padding: 2rem 2rem;
    background-color: #f7f7f7;
    margin: 0 auto;
    border-radius: 2rem;
    flex-direction: column;
    width: 800px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



fieldset {
    position: relative;
    display: inline-block;
    width: 700px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 1rem;
    border-radius: black;
    margin: 40px 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 5px #AFC1D0;
}

fieldset:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 18px #AFC1D0;
}


.form-group {
    position: relative;
    padding: 8px 0;
    width: 100%;

}


.form-group label {
    transform-origin: left center;
    color: #3658C1;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}

.form-group input[type="text"],
input[type="email"],
input[type="url"] {
    appearance: none;
    background-color: none;
    border: 1px solid black;
    line-height: 0;
    font-size: 1rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 1rem;
    color: #B1D4E0;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

.form-group input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus {
    outline: none;
    background: #B1D4E0;
    color: white;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.form-group input[type="text"]:valid,
input[type="email"]:valid,
input[type="url"]:valid {
    margin-top: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.form-group input[type="text"]:focus~label,
input[type="email"]:focus~label,
input[type="url"]:focus~label {
    transform: translateY(-0.2rem);
    transition: all 0.3s ease-in;
    transform: translate(0, -35px);
}

.form-group input[type="text"]:valid~label,
input[type="email"]:valid~label,
input[type="url"]:valid~label {
    transition: all 0.3s ease-in;
    transform: translate(5px, -35px) scale(0.9);
}


textarea {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
    text-indent: 1rem;
    padding-top: 1rem;
    resize: vertical;
}

textarea::placeholder {
    color: #3658C1;
}

textarea:focus {
    outline: none;
    background: #B1D4E0;
    color: white;
    margin-top: 1rem;
    text-indent: 1rem;
    padding-top: 1rem;
    transform: translateY(-0.2rem);
    transition: all 0.3s ease-in;
}

.authors {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}



.section-title {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
}

#submit-paper {
    background-color: 2E8BC0;
    color: #ffffff;
    border: solid 1px;
    padding: 0.9rem 2rem;
    border-radius: 30px;
    margin-right: 1rem;
    font-size: 1rem;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-paper:hover {
    background-color: white;
    color: #2E8BC0;
}

.buttons {
    display: flex;
    gap: 1rem;
    width: 100%;
}

#add-author,
#delete-author {
    width: 100%;
}